.result__container {
  display: flex;
  justify-content: center;
}

.list__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item__container {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

}

.list-light {
  background-color: #ffffff;
}

.list-dark {
  background-color: #323232;
}
