.theme__button {
  position: fixed;
  top: 0;
  left: 100px;
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.theme__button:hover {
  background-color: #797474;
}