#root {
  margin: 0 auto;
  text-align: center;
}

.app {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height: 100;
  width: 100vw;

}

.app-light {
  background-color: #fff;
  color: #333;
}

.app-dark {
  background-color: #333;
  color: #fff;
}